.Project {
    padding-top: 4rem;
    margin-bottom: 2rem;
}
.Project .title{
    border-top: solid 1px #fff;
    font-size: 2rem;
    padding-top: 1rem;
}
.Project .box {
    display: flex;
}
.Project .box div {
    width: 100%;
    margin-top: 1.5rem;
}
.Project .box .section {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    box-shadow: 0 0 10px #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-x: auto;
}
.Project .box .section span{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 1rem;
    margin: 0;
}
.Project .box .section span h4{
    text-transform: uppercase;
}
.Project .box .section span p {
    font-size: 1rem;
    width: 9.7rem;
    height: 4rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    text-align: center;
}
.Project .box .section span a {
    text-decoration: none;
    color: #fff;
    padding: .9rem;
    border-radius: 1rem;
    border: solid 1px rgb(255, 255, 255);
}
.Project .box .section span a:hover {
    box-shadow: 0px 0px 20px rgb(26, 98, 205);
}
.Project .box .section img{
    width: 9.7rem;
}
