.Skills {
    padding-top: 4rem;
}
.Skills .title{
    border-top: solid 1px #fff;
    font-size: 2rem;
    padding-top: 1rem;
}
.Skills .box {
    display: flex;
}
.Skills .box div {
    width: 100%;
    margin-top: 1.5rem;
}
.Skills .box .section {
    display: flex;
    font-size: 1.3rem;
    box-shadow: 0 0 10px #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-x: auto;
}
.Skills .box .section span{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 1rem;
    margin: 0;
}
.Skills .box .section span h4{
    text-transform: uppercase;
}
.Skills .box .section span p {
    font-size: 1rem;
}
.Skills .box .section img{
    width: 9.7rem;
}
